
header {
    background: #ffffff;
    height: 50px !important;
    z-index: -100;
}

.form-content {
    margin-top: 100px;
    scroll-behavior: none;
    margin-bottom: 0;
}
footer {
    background-color: #FBD95C;
}
.footer__links {
    border-bottom: 1px solid #FBD95C;
}
.footer__links:hover {
    border-bottom: 1px solid #6dc465;
}
.footer__wrap {
    opacity: 1 !important;
}
@media screen and (max-width: 768px) {
    .header__h1 {
        font-size: 80px;
    }
}
@media screen and (max-width: 576px) {
    .header__h1 {
        font-size: 40px;
    }
    .form-content {
        margin-top: 100px;
    }
}